{% extends "base.html" %}
{% block title %} Избранные авторы {% endblock %}
{% block content %}
    <div class="container">
        <h1> Избранные авторы</h1>
        {% include "menu.html" with follow=True %}
            <!-- Вывод ленты записей -->
            {% load cache %}
            {% cache 20 index_follow_page %}
                {% for post in page %}
                <!-- Вот он, новый include! -->
                    {% include "post_item.html" with post=post comments_first=True%}
                {% endfor %}
            {% endcache %}
    </div>
        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
{% endblock %}