{% extends "base.html" %}
{% block title %} Избранные авторы {% endblock %}
{% block content %}
    <div class="container">
        <h1> Избранные авторы</h1>
        {% include "menu.html" with follow=True %}
            <!-- Вывод ленты записей -->
            {% load cache %}
            {% cache 20 index_follow_page %}
                {% for post in page %}
                <!-- Вот он, новый include! -->
                    {% include "post_item.html" with post=post %}
                        {% if post.comments.exists %}
                    <div class="media card mb-4">
                        <div class="media-body card-body">
                            <h5 class="mt-0">
                                <a href="{% url 'profile' post.comments.first.author.username %}">
                                    @{{ post.comments.first.author.username }}
                                </a>
                            </h5>
                            <p>{{ post.comments.first.text | linebreaksbr }}</p>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            {% endcache %}
    </div>
        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
{% endblock %}