{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block header %}{{ group.title }}{% endblock %}
{% block content %}
{% load thumbnail %}
<style type="text/css">
    .card-text {
        max-width: 100%;
        margin-left: 0;
        overflow-wrap: break-word;
    }
</style>
    <div class="card-text">
        {{ group.description|linebreaksbr }}
    </div>
    {% for post in page %}
            {% include "post_item.html" with post=post pg=True %}
    {% endfor %}
{% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator%}
{% endif %}
{% endblock %}
